<header class="hero">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand nav_title" href="#">Apartahotel Santandereano</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav_link" >
              <li class="nav-item nav_items">
                <a class="nav-link nav_links" href="#">Inicio</a>
              </li>
              <li class="nav-item nav_items">
                <a class="nav-link nav_links" href="#">Nosotros</a>
              </li>
              <li class="nav-item nav_items">
                <a class="nav-link nav_links" href="#">Contacto</a>
              </li>
              <li class="nav-item nav_items">
                <a class="nav-link nav_links" href="#">Iniciar Sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <section class="hero_container container">
        <h1 class="hero_title">Apartahotel Santandereano</h1>
        <p class="heroparagraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, accusantium. Maiores
            laboriosam delectus non odit, commodi officiis consequuntur repellendus, sunt quibusdam ipsam earum voluptas
            accusamus eius! Dolorum rem debitis earum.</p>

        <a href="#" class="cta"> Empezar Ahora</a>
    </section>
</header>